models/*
test/
logs/*

*.mp4
*.avi
.vs
*.weights
*.engine
*.dxnn
CCTV_EVENT_ALERT/events

# Local runtime/config files
cameras.csv
config
#config/*.json
#!config/*.sample.json
logs/
snapshot_exports/
.idea/
__pycache__/
*.swo
roi_from_snapshots.py
.codex
.codex_local_skills/
