# --- System Dependencies (Ubuntu/Raspberry Pi OS) ---
# sudo apt install libgirepository1.0-dev gcc libcairo2-dev
# sudo apt install gir1.2-gtk-3.0 gstreamer1.0-plugins-base
#Python 3.11.14

ultralytics==8.4.21
opencv-python==4.13.0.92
psutil==7.2.2
pytz==2026.1.post1
requests==2.33.1
urllib3==2.6.3
